﻿@model WebApiTest.Models.DirectoryInfos
<div ng-app="dirBrowseApp">
    <div class="container dir" ng-controller="dirBrowse">
        <table class="col-md-4 table table-bordered table-condensed counts-table">
            <thead>
                <tr>
                    <th>Less 10Mb</th>
                    <th>10Mb-50Mb</th>
                    <th>More 100Mb</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{ dir.SmallFiles }}</td>
                    <td>{{ dir.MediumFiles }}</td>
                    <td>{{ dir.LargeFiles }}</td>
                </tr>
            </tbody>
        </table>
        <p class="current-path">
            Current path: <span class="path">{{ dir.Path }}</span>
        </p>
        <ul class="list-unstyled directory-content">
            <li ng-repeat="file in dir.DirectoriesList"><a ng-click="open(file.Path)">{{ file.Name }}</a></li>
            <li ng-repeat="file in dir.FilesList"><a ng-href="?path={{ file.Path }}">{{ file.Name }}</a></li>
        </ul>
    </div>
</div>
@section Scripts{
    @Scripts.Render("~/bundles/angular")
    @Scripts.Render("~/bundles/angular-resource")
    @Scripts.Render("~/bundles/appAngular")
}
