﻿a{
    padding-left: 10px;
    color:lightskyblue;
}
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}
thead{
    padding-top: 50px;
    padding-bottom: 20px;
    background-color:grey;        
   
}
tbody {
    padding-top: 50px;
    padding-bottom: 20px;
    font-weight: normal;   
    text-align: center;
}

.col-md-4{    
    border-top-width:0.75px
}
.dir{
  background-color: #f3f3f3;
  padding:15px;
  height:100%;
  margin-top:30px
}
.counts-table>thead>tr>th {
  color: white;
  font-weight: bold;
  text-align: center;
  border:none;
}
.current-path {
  font-weight: bold;
}
.path {
  color: gray;
  font-weight:normal;
}



